.idea
result
.envrc
/nix/apps/update-pins/target/
/nix/packages/sleepctl/target/
/nix/apps/apply-secrets/target/
/nix/apps/apply-nix-settings/target/
/nix/packages/safe-fetch/target/
/nix/modules/home/programs/codex/helper/target/
