[core]
    editor = code --wait
    autocrlf = input

[user]
    name = cons-tan-tan
    email = 132136681+cons-tan-tan@users.noreply.github.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOGLGIXT0iVROaYQ3V6ytmPAe9605+4AwjEjVcdS0Nk8

[init]
    defaultBranch = main

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[gpg]
    format = ssh

[gpg "ssh"]
    program = {{.chezmoi.homeDir}}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe

[commit]
    gpgsign = true
    cleanup = strip
    template = ~/.config/git/common/message.txt

[url "https://github.com/"]
    insteadOf = git@github.com:
    insteadOf = ssh://git@github.com/

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSLでの設定
[core]
    # windows側の.ssh/configを参照した挙動となるので注意
    sshCommand = ssh.exe

[gpg "ssh"]
    # ホストwindowsのユーザー名を取得
    program = /mnt/c/Users/{{ output "powershell.exe" "$env:USERNAME" | trim }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe
{{   end }}
{{ end }}
