[settings]
disable_backends = ["asdf"]
experimental = true

[settings.pipx]
uvx = true

[tools]

starship = "latest"
chezmoi = "latest"
peco = "latest"
fzf = "latest"
fastfetch = "latest"
sops = "latest"
protoc = "latest"
lefthook = "latest"

# [GitHub]
github-cli = "latest"
ghq = "latest"

# [AWS]
{{ if eq .chezmoi.os "linux" }}
aws-cli = "latest"
{{ end }}
aws-vault = "latest"

# [AI Tools]
"npm:@anthropic-ai/claude-code" = "latest"
"npm:ccusage" = "latest"
"npm:@google/gemini-cli" = "latest"

# [Node.js]
node = "latest"
"npm:pnpm" = "latest"
"npm:@google/clasp" = "latest"

# [Python]
uv = "latest"
ruff = "latest"
"pipx:flake8" = "latest"

# [Go]
go = "latest"

# [Terraform]
"go:github.com/jameswoolfenden/pike" = "latest"
