[settings]
disable_backends = ["asdf"]
experimental = true
idiomatic_version_file_enable_tools = ["terraform"]

[settings.pipx]
uvx = true

[tools]
cosign = "latest"
aqua = "latest"

starship = "latest"
chezmoi = "latest"
jq = "latest"
ripgrep = "latest"
fzf = "latest"
bat = "latest"
fastfetch = "latest"
protoc = "latest"

# [Secret]
sops = "latest"
"aqua:trufflesecurity/trufflehog" = "latest"

# [Git]
github-cli = "latest"
ghq = "latest"
lefthook = "latest"

# [AWS]
{{ if eq .chezmoi.os "linux" }}
# aws-cliはMac, Linuxのみ対応
aws-cli = "latest"
aws-vault = "latest"
{{ end }}

# [AI Tools]
claude = "latest"
"npm:ccusage" = "latest"
gemini-cli = "latest"

# [Node.js]
node = "latest"
pnpm = "latest"
"npm:@google/clasp" = "latest"

# [Python]
uv = "latest"
ruff = "latest"
"pipx:flake8" = "latest"

# [Go]
go = "latest"

# [Terraform]
"aqua:jamesWoolfenden/pike" = "latest"
